@use "../../scss/index.scss" as *;

.rightbar {
  width: 310px;
  overflow-y: scroll;
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  padding: 16px 8px 8px;
}
.title {
  font-size: 17px;
  color: $gray;
  margin-bottom: 4px;
  margin-left: 8px;
}
.sidebarListItem {
  @include flex(center, flex-start);
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
  &:hover {
    background-color: $black-alpha-05;
  }
  span {
    font-size: 15px;
    .username {
      font-size: 15px;
      font-weight: 600;
      color: $gray;
    }
  }
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 16px 0 0 8px;
  list-style: none;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  flex-wrap: wrap;
  @include flex(flex-start, space-between);
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowButton {
  @include flex(center, center);
  cursor: pointer;
}
.hr {
  margin: 16px 0px;
}
