.icon,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6,
.icon-7,
.icon-8 {
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  color: currentColor;
}

.icon-2 {
  background-image: url("http://localhost:8800/images/icon/icon-2.png");
  width: 20px;
  height: 20px;
}
.icon {
  width: 24px;
  height: 24px;
  background-image: url("http://localhost:8800/images/icon/icon.png");
}
.icon-3 {
  width: 24px;
  height: 24px;
  background-image: url("http://localhost:8800/images/icon/icon-3.png");
}

.icon-4 {
  background-image: url("http://localhost:8800/images/icon/features.png");
  width: 36px;
  height: 36px;
  transform: scale(0.8);
}
.icon-5 {
  background-image: url("http://localhost:8800/images/icon/icon-4.png");
  width: 36px;
  height: 36px;
  transform: scale(0.8);
}
.icon-6 {
  background-image: url("http://localhost:8800/images/icon/icon-5.png");
  width: 18px;
  height: 18px;
}
.icon-7 {
  background-image: url("http://localhost:8800/images/icon/icon-6.png");
  width: 20px;
  height: 20px;
}
.icon-8 {
  background-image: url("http://localhost:8800/images/icon/icon-7.png");
  width: 16px;
  height: 16px;
}

.photo-1 {
  background-position: 0px -374px;
}
.projector {
  background-position: 0px -296px;
}
.new {
  background-position: 0px -632px;
}
.like {
  background-position: 0px -201px;
}
.share {
  background-position: 0px -220px;
}
.comment {
  background-position: 0px -163px;
}
.friend {
  background-position: 0px -296px;
}
.live {
  background-position: 0px -25px;
}
.photo {
  margin: 0 8px;
  background-position: 0px -200px;
}
.activity {
  margin: 0 8px;
  background-position: 0px -150px;
}
.close {
  background-position: -84px -105px;
}
.more {
  background-position: 0px -58px;
  margin: 0 8px;
}
.group {
  background-position: 0px -74px;
}
.gaming {
  background-position: 0px -37px;
}
.market {
  background-position: 0px -407px;
}
.watch {
  background-position: 0px -518px;
}
.memories {
  background-position: 0px -444px;
}
.saved {
  background-position: 0px -185px;
}
.pages {
  background-position: 0px -111px;
}
.events {
  background-position: 0px 0px;
}
.gift {
  background-position: 0px 0px;
}
.pencel {
  background-position: 0px -1023px;
}
