$body-bg: #f9fbfd;
$header-bg: #383838;

$border-color: rgb(22, 24, 35, 0.2);
$black-alpha-05: rgba(0, 0, 0, 0.05);
$black-alpha-15: rgba(0, 0, 0, 0.15);
$black-alpha-10: rgba(0, 0, 0, 0.10);
$gray-dark: #1c2d41;
$blue: #1876f2;
$indigo: #E7F3FF;
$pink: #F03755;
$red: #e41e3f;
$yellow: #FCD65B;
$green: #22ca80;
$teal: #20c997;
$white: #fff;
$gray: #65676b;
$primary: #5f76e8;
$secondary: #6c757d;
$success: #22ca80;
$info: #5f76e8;
$warning: #fdc16a;
$danger: #ff4f70;
$light: #e8eaec;
$dark: #1c2d41;
$cyan: #01caf1;
$orange: #fb8c00;
$purple: #5f76e8;
$white-1: #f0f2f5;
$wash: #F0F2F5;

$secondary-button-background: #E4E6EB;
$primary-button-background: #1b74e4;
$primary-text-color: #050505;
$text-color-light: #9eabc0;
$text-color: rgba(22, 24, 35, 0.8);
$header-height: 56px;
$border-radius: 4px;
$sidebar-width-large: 260px;
$sidebar-width-small: 70px;
$mobile-width: 600px;
$tablet-width: 1024px;
$img-width: 40px;
